@model List<Cliente>
<form method="post" asp-action="Index" asp-controller="Clientes" class="form-inline text-center">
    <div class="form-group mb-2">
        <input type="text" class="form-control" name="dni" placeholder="Buscar por Dni" />
    </div>
    <button type="submit" class="btn btn-primary mb-4">Buscar</button>
</form>
<div class="container">
    <a class="btn btn-success mb-3" href="@Url.Action("Create","Clientes")">Agregar Cliente</a>
    <div class="row">

        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Dni</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Cliente item in Model)
                    {
                        <tr>
                            <td>@item.Nombre</td>
                            <td>@item.Apellido</td>
                            <td>@item.Dni</td>
                            <td>@item.Correo</td>
                            <td>@item.Telefono</td>
                            <td><a asp-action="Modificar" asp-controller="Clientes" asp-route-id="@item.IdCliente" class="btn btn-primary">Editar</a></td>
                            <td><a asp-action="Eliminar" onclick="return confirm('¿Desea eliminar el Registro?')" asp-controller="Clientes" asp-route-id="@item.IdCliente" class="btn btn-danger">Eliminar</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>